<div>
    @Html.Partial("NavMenu")
</div>

<div style="text-align: center">
    <h1>@Model.CurrentTopicName</h1>
</div>

<div style="text-align: center">
    Reply
    @Html.Partial("Reply", new TextForum.Models.Replies())
</div>

<hr />
<div></div>
<hr />

<div>
    <h4>@Model.CurrentUserName [@Model.FirstPost.Created]</h4>
    @Model.FirstPost.Content
</div>


@foreach (var r in Model.Replies)
{
    <hr />
    <div>
        <h4>@Model.CurrentUserName [@r.Created]</h4>
        @r.Content
    </div>
}

<hr />
<div></div>
<hr />

<div>
    @Html.Partial("NavMenu")
</div>