<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/css/styles.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/stylesHome.css")" rel="stylesheet" type="text/css" />

</head>
<body>
    <div>
        @RenderSection("pageName", true)
    </div>
    <div class="row">
        <div class="column">
            <p>
                @RenderSection("left", true)
            </p>
        </div>
        <div class="column">
            <p>
                @RenderSection("mid", true)
            </p>
        </div>
        <div class="column">
            <p>
                @RenderSection("right", true)
            </p>
        </div>
    </div>

    <div>
        <footer class="panel-footer">
            @RenderSection("footer", true)
        </footer>
    </div>
</body>
</html>
