<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/css/styles.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/stylesHome.css")" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="head">
        @RenderSection("pageName", true)
    </div>
    <div class="container">
        <div class="block">
            <p align="center">Knowledge</p>
            <div class="modified">
                @RenderSection("left", true)
            </div>
        </div>
        <div class="block">
            <p align="center">Health</p>
            <div class="modified">
                @RenderSection("mid", true)
            </div>
        </div>
        <div class="block">
            <p align="center">Culture</p>
            <div class="modified">
                @RenderSection("right", true)
            </div>
        </div>
    </div>

    <div style="text-align:center;">
        <footer class="panel-footer">
            @RenderSection("footer", true)
        </footer>
    </div>
</body>
</html>
