<head>
    <title>@Model.CurrentTopicName-TwaddleCate</title>
</head>
<body>
    <!--This contains links to other areas of the site-->
    <div>
        @Html.Partial("NavMenu")
    </div>

    <!--This is the title of the page-->
    <div style="text-align: center">
        <h1>@Model.CurrentTopicName</h1>
    </div>

    <!--This is the area where people can make new posts-->
    <div style="text-align: center">
        Create
        @Html.Partial("Create", new TextForum.Models.Post())
    </div>

    <!--Search functionality here-->
    <hr />
    <form asp-action="List" controller="Topic">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit">Search</button>
    </form>
    <hr />

    <!--This is where all the lists are added-->
    <div>
        @foreach (var p in Model.Posts)
        {
            <div>
                @if (@p.ImgUrl != null)
                {
                <img src="~/Images/@p.ImgUrl" style="width: 400px; height: auto;">
                }
            </div>
            <div>
                <h4>@Model.CurrentUserName [@p.Created] [<a style="text-decoration: none;" asp-controller="Replies" asp-action="List" asp-route-id="@p.PostID">@p.PostID</a>] <a style="text-decoration: none;" asp-controller="Replies" asp-action="List" asp-route-id="@p.PostID">Reply</a></h4>
                @p.Content
            </div>
            <hr />
        }
    </div>
    <!--This is where the added lists end-->
    <!--Shows pagination-->
    <div page-model="@Model.PagingInfo" page-action="List"></div>
    <hr />

    <!--Another navigation menu, same as at the top of the page-->
    <div>
        @Html.Partial("NavMenu")
    </div>
</body>