<table style="text-align: left; border-collapse: collapse;">
    <tr>
        <th>Picture</th>
        <th>ID</th>
        <th>Topic</th>
        <th>Content</th>
        <th>Action</th>
    </tr>

    @foreach (var post in Model.Posts)
    {
        <tr style="border: 1px solid black;">
            <td>
                @if (post.ImgUrl != null)
                {
                    @if (@post.ImgUrl.Contains("webm"))
                    {
                        <video class="thumbnail" controls>
                            <source src="https://imgrepository.blob.core.windows.net/images/@post.ImgUrl" type="video/webm" />
                        </video>
                    }
                    else
                    {
                        <img class="thumbnail" src="https://imgrepository.blob.core.windows.net/images/@post.ImgUrl">
                    }
                }
            </td>
            <td>@post.PostID</td>
            <td>@post.TopicID</td>
            <td>@post.Content</td>
            <td>
                <a asp-controller="Replies" asp-action="list" asp-route-id="@post.PostID">Go</a>
            </td>
        </tr>
    }
</table>