<head>
    <title>@Model.FirstPost.PostID-@Model.CurrentTopicName-TwaddleCate</title>
</head>
<body>
    <a name="top"></a>

    <div>
        @Html.Partial("NavMenu")
    </div>

    <div style="text-align: center">
        <h1>@Model.CurrentTopicName</h1>
    </div>

    <a name="reply"></a>
    @if (User.IsInRole("Banned"))
    {
        <div style="text-align: center"><h1 style="color:red">You are banned</h1></div>
    }
    else
    {
        <div style="text-align: center">
            Reply
            @Html.Partial("Reply", new TextForum.Models.Replies())
        </div>
    }
    <hr />
    <div>
        [<a asp-controller="Topic" asp-action="List" asp-route-id="@Model.FirstPost.TopicID">Return</a>]
        [<a href="#bottom">Bottom</a>]
        [<a href="">Refresh</a>]
    </div>
    <hr />

    <div class="postblock">
        <p>
            @if (@Model.FirstPost.ImgUrl != null)
            {
                @if (@Model.FirstPost.ImgUrl.Contains("webm"))
                {
                    <video class="thumbnail" controls>
                        <source src="https://imgrepository.blob.core.windows.net/images/@Model.FirstPost.ImgUrl" type="video/webm" />
                    </video>
                }
                else
                {
                    <img class="thumbnail" src="https://imgrepository.blob.core.windows.net/images/@Model.FirstPost.ImgUrl">
                }
            }
            <h5>
                @if (@Model.FirstPost.PostTitle != null)
                {
                    <span class="title">@Model.FirstPost.PostTitle</span>
                }[<span class="user">@Model.FirstPost.UserName</span>]
                [@Model.FirstPost.Created]
            </h5>
        </p>
        <p style="padding: 4px">
            @Model.FirstPost.Content
        </p>
    </div>

    @foreach (var r in Model.Replies)
    {
        <div class="replyblock">
            <p>
                <a href="#@r.ReplyID"></a>
                <h5>
                    [<span class="user">@r.UserName</span>]
                    [@r.Created]
                </h5>
                @if (@r.ImgUrl != null)
                {
                    @if (@r.ImgUrl.Contains("webm"))
                    {
                        <video class="thumbnail" controls>
                            <source src="https://imgrepository.blob.core.windows.net/images/@r.ImgUrl" type="video/webm" />
                        </video>
                    }
                    else
                    {
                        <img class="thumbnail" src="https://imgrepository.blob.core.windows.net/images/@r.ImgUrl">
                    }
                }

            </p>
            <p style="padding: 4px">
                @r.Content
            </p>
        </div>
    }

    <hr />
    <div>
        [<a asp-controller="Topic" asp-action="List" asp-route-id="@Model.FirstPost.TopicID">Return</a>]
        [<a href="#top">Top</a>]
        [<a href="">Refresh</a>]
        [<a href="#reply">Reply</a>]
    </div>
    <hr />

    <div>
        @Html.Partial("NavMenu")
    </div>

    <a name="bottom"></a>
</body>