<h1>Posts List</h1>
<hr />

<table>
    <tr>
        <th>Picture</th>
        <th>ID</th>
        <th>Topic</th>
        <th>User</th>
        <th>Content</th>
        <th>Action</th>
    </tr>

    @foreach (var post in Model.Posts)
    {
        <tr>
            <td>
                @if (post.ImgUrl != null)
                {
                    @if (@post.ImgUrl.Contains("webm"))
                    {
                        <video class="thumbnail" controls>
                            <source src="https://imgrepository.blob.core.windows.net/images/@post.ImgUrl" type="video/webm" />
                        </video>
                    }
                    else
                    {
                        <img class="thumbnail" src="https://imgrepository.blob.core.windows.net/images/@post.ImgUrl">
                    }
                }
            </td>
            <td>@post.PostID</td>
            <td>@post.TopicID</td>
            <td>@post.UserName</td>
            <td>@post.Content</td>
            <td>
                <form asp-action="DeleteP" method="POST">
                    <input type="hidden" name="PostID" value="@post.PostID" /><button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
    }
</table>
<hr />
<h1>Reply List</h1>
<hr />
<table>
    <tr>
        <th>Picture</th>
        <th>ID</th>
        <th>Topic</th>
        <th>User</th>
        <th>Content</th>
        <th>Action</th>
    </tr>

    @foreach (var post in Model.Replies)
    {
        <tr>
            <td>
                @if (post.ImgUrl != null)
                {
                    @if (@post.ImgUrl.Contains("webm"))
                    {
                        <video class="thumbnail" controls>
                            <source src="https://imgrepository.blob.core.windows.net/images/@post.ImgUrl" type="video/webm" />
                        </video>
                    }
                    else
                    {
                        <img class="thumbnail" src="https://imgrepository.blob.core.windows.net/images/@post.ImgUrl">
                    }
                }
            </td>
            <td>@post.PostID</td>
            <td>@post.TopicID</td>
            <td>@post.UserName</td>
            <td>@post.Content</td>
            <td>
                <form asp-action="DeleteR" method="POST">
                    <input type="hidden" name="PostID" value="@post.ReplyID" /><button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
    }
</table>
<hr />
[<a asp-controller="Admin" asp-action="CreateRole">Create Role</a>]
[<a asp-controller="Admin" asp-action="ListRoles">List Roles</a>]
[<a asp-controller="Home" asp-action="Index">Home</a>]
<hr />