@{
    var Title = ViewContext.RouteData.Values["id"];
}

<h1>@Title</h1>

<div style="text-align: center">
    Create
    @Html.Partial("Create", new TextForum.Models.Post())
</div>

<div page-model="@Model.PagingInfo" page-action="List"></div>
@foreach (var p in Model.Posts)
{
    @if (p.TopicID == 1)
    { 
        <div>
            <h4>@p.TopicID [@p.UserID] [@p.Created] <a href="#">@p.PostID</a></h4>
            @p.Content
        </div>
        <hr />
    }
}
<div page-model="@Model.PagingInfo" page-action="List"></div>